<!doctype html>
<html lang='en'>
  <head>
      <title>Project 1</title>
      <meta charset='utf-8'>
      <script src='https://unpkg.com/vue@next' defer></script>
      <script src='script.js' defer></script>
      <link rel="stylesheet" type="text/css" href="style.css" >
  </head>

  <body>

    <script type='text/x-template' id='match-result'>
      <div>
        <ul>
          <li>Round: {{ roundnumber }}</li>
          <li>{{ results }}</li>
          <li>{{ userthrow }} vs {{ computerthrow }}</li>
        </ul>
      </div>
    </script>

    <div id = "app">
      <div class = "scores">
        <div id = "user-score">User Score {{userScore}}</div>
        <div id = "computer-score">Computer Score {{computerScore}}</div>
      </div>

      <h1>Rock, Paper, Scissors</h1>

      <div v-if="!levelChosen"> 
        <form>
          <fieldset>
            <input id = "easy" type = "radio" value="0" name="levelChoice"> 
              <label for="easy">Easy</label><br>
              <input id = "difficult" type = "radio" value="1" name="levelChoice"> 
              <label for="difficult">Difficult</label><br>
          </fieldset>
        </form>
        <button id="shoot" v-on:click="start">Start Game</button>
      </div>

      <div v-if="levelChosen">  
      
        <form>
          <fieldset>
            <input id = "rock" type = "radio" value="Rock" name="choice"> 
            <label for="rock">Rock</label><br>
            <input id = "paper" type = "radio" value="Paper" name="choice"> 
            <label for="paper">Paper</label><br>
            <input id = "scissors" type = "radio" value="Scissors" name="choice"> 
            <label for="scissors">Scissors</label><br>
          </fieldset>
        </form>
        <button id="shoot" v-on:click="play">Shoot</button>
      
        <p :class="{ won : matchEnd, lost: !matchEnd }" class = "result">{{resultsText}}</p>

        <div class = "rounds">
          <match-result v-for='round in rounds' :userthrow='round.userthrow' :computerthrow='round.computerthrow' :results='round.results' :roundnumber='round.roundnumber'>
          </match-result>
        </div>
      
        <button v-on:click="reset">Reset</button>
      </div> 
    </div>

  </body>
</html>
