html,body{
  margin:0;
  padding:0;
  font-family:arial;
  background: #CDF9FF;
}

[v-cloak] {
    display: none
}

h1{
  text-align:center;
  color: #f23cc5;
  text-shadow: 2px 2px #4fe9fd;
}

h3{
  text-align: center;
}

h4{
  text-align: center;
}

img{
  width: 100px;
  height: auto;
}

button{
  background: #3a3bd4;
  color: white;
  border: 0;
  padding: 5px 15px;
  border-radius: 5px;
  display: block;
  cursor: pointer;
  font-size: 20px;
  margin: 5px auto;
}

fieldset{
  display:flex;
  justify-content: space-around;
  border: 0;
}

input{
  margin-bottom: 10px;
}

form input[type="submit"]{
  margin: auto;
  background: #0066b2;
  border-radius: 5px;
  border:0;
  padding: 10px;
  width: 70px;
  cursor: pointer;
  color: white;
}

.scores{
  background: #3a3bd4;
  color:white;
  display:flex;
  justify-content:space-between;
}

.matches{
  height: 150px;
  overflow:auto;
  background:white;
  width: 80%;
  margin: auto;
  border-radius: 10px;
  border: 2px solid #f23cc5;
}

.result{
  color: white;
  text-align: center;
  border-radius: 10px;
  width: 50%;
  margin: 10px auto;
  padding: 1px;
}

.result p{
  margin: 5px;
}

.won{
  background: green; 
}

.lost{
  background: red;
}

.tie{
  background: yellow;
  color: black;
}

.form-section{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#rock,#paper,#scissors{
  position: relative;
}


