html,body{
  margin:0;
  padding:0;
  font-family:arial;
  background: #7CB9E8;
}

h1{
  text-align:center;
}

img{
  width: 100px;
  height: auto;
}

.scores{
  background: #0066b2;
  color:white;
  display:flex;
  justify-content:space-between;
}

fieldset{
  display:flex;
  justify-content: space-between;
  border: 0;
}

form input[type="submit"]{
  margin: auto;
  background: #0066b2;
  border-radius: 5px;
  border:0;
  padding: 10px;
  width: 70px;
  cursor: pointer;
  color: white;
}

#versus{
  margin: auto;
  text-align:center;
  padding: 20px;
  font-size: 30px;
  display: none;
  background: #A4DDED;
}


#result{
  background: white;
  text-align:center;
  width: 200px;
  padding:20px;
  border-radius: 20px;
  margin: auto;
  display: none;
  margin-top: 20px;
  font-size: 40px;
}

.rounds{
  height: 200px;
  overflow:auto;
  background:white;
  width: 80%;
  margin: auto;
  border-radius: 10px;
}

.result{
  color: white;
  text-align:center;
}

.won{
  background: green;
  
}

.lost{
  background: red;
}

.tie{
  background: yellow;
  color: black;
}

button{
  margin: auto;
  background: #0066b2;
  color:white;
  border:0;
  padding: 5px 10px;
  border-radius: 5px;
  display: block;
  cursor:pointer;
}